.body {
  font-family: monospace;
}

#background {
  position: fixed;
  top: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #background {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #background {
    width: auto;
    height: 100%;
  }
}

.container {
  margin-top: 80px;
}

.weather-description {
  background: #bfd4c3;
  border: 4px solid #bed3c3;
  border-radius: 30px;
  margin: 0 auto;
  opacity: 0.5;
  padding: 10px 40px;
}
.current-temperature {
  font-size: 100px;
}
.current-weather {
  font-size: 120px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.changing-message {
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

ul {
  font-size: 18px;
  margin: 0;
  list-style: none;
  padding: 0;
}

.city-name {
  font-weight: bold;
  font-size: 50px;
}
.current-info {
  font-size: 18px;
  padding: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.card-text {
  font-weight: bold;
  text-align: center;
}

.weather-icons {
  font-size: 40px;
}

.city-search {
  color: #f5f7f2;
  font-size: 20px;
  font-weight: bold;
}

#open-source-link {
  color: #f5f7f2;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

#code-link {
  color: #f5f7f2;
  text-decoration: none;
}

#code-link:hover {
  color: #aeb19a;
  text-decoration: underline;
  cursor: pointer;
}
